body{
    background-color: #FDF0D5;
    color: #780000;
    font-family: "Kode Mono", monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 16pt;
    max-width: 600px;
}
h1{
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    color: #FDF0D5;
    margin: 0;
    padding: 0;
}

h3{
    font-weight: 700;
    color: #FDF0D5;
    font-size: 1em;
    margin-bottom: 2pt;
    margin-top: 0;
}
.textBlock>h4{
  margin-bottom: 2pt;
  margin-top: 0;
}
li::marker{
    font-size: 0.6em;
    font-weight: 600;
}
.redBlock>li{
    list-style-type: none;
}

.redBlock>a,.redBlock>li>a{
    color: #FDF0D5;
    text-decoration: none;
}
.redBlock>li>a,.textBlock>a{
  text-decoration: underline;
}
.redBlock>li>a::after,p>a::after,section.textBlock>a{
   content: " ↗";
}
.textBlock>a{
  color:inherit;
}
form{
    color: #003049;
    font-family: "Kode Mono", monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 16pt;
}

.tram{
    list-style: "tram ";
}
.bus{
    list-style: "bus ";
}
.expressBus{
    list-style: "xprs ";
}
.inputButton,.textField{
    font-family: inherit;
    font-size: 1em;
    background-color: inherit;
    border-width: 0.1em;
    width: 100%;
}
.textField,.greenButton,.redButton,.redBlock,.blueBlock,.textField,.textBlock,.blueButton{
  border-radius: 10px;
  margin: 5pt;
  padding: 1em;
}
.textField::placeholder{
    color: #003049;
}
.greenButton{
  color: #606C38;
  border-color: #606C38;
}
.blueButton{
  color: #003049;
  border-color: #003049;
}
.redButton{
  color: #780000;
  border-color: #780000;
}
.blueBlock{
  background-color: #003049;
  color: #FDF0D5;
  border-color: #606C38;
}
.redBlock{
  background-color: #780000;
  color: #FDF0D5;
}

.textBlock{
  border-width: 1em;
  border-radius: 0;
  border-color: #780000;
}
