body{
    background-color: #FDF0D5;
    color: #003049;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 16pt;
}
h1,h2{
    color: #780000;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 2em;
}
h3{
    color:#669BBC; 
}
li{
    list-style-type: none;
}